.FieldSetOrder {
  display: none;
}

.FieldSet {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.Legend {
  display: none;
}

.RequiredField {
  color: red;
}

:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}
input, select {
  box-sizing: inherit;
  border-width: 0;
  border-style: solid;
  border-color: #dae4e9;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  background-color: #dae4e9;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  -webkit-box-flex: 1;
  flex: 1;
  padding: 0.75rem;
  color: #364349;
  font-size: 0.875rem;
}
