.FieldSetOrder {
  display: none;
}

.FieldSet {
  border: 2px solid #ccc;
  border-radius: 8px;
}

.Legend {
  display: none;
}

.RequiredField {
  color: red;
}

:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}
input {
  box-sizing: inherit;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  border-radius: 0.25rem;
  border: 1px solid #333;

  -webkit-box-flex: 1;
  flex: 1;
  padding: 0.75rem;
  color: #364349;
  font-size: 0.875rem;
  background-color: #edf2f7;
}
select {
  -webkit-box-direction: normal;
  box-sizing: inherit;
  border-style: solid;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  font-family: inherit;
  appearance: none;
  background-color: #f3f7f9;
  border-color: #f3f7f9;
  border-radius: .25rem;
  border-width: 1px;
  border: 1px solid #333;
  display: block;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  padding-right: 2rem;
  color: #596a73;

}
